:root{
  --tekno-strip-bg: #16234d;
  --bullet-red : #cf2e2e;
}
main .section.tekno-strip {
  background-color: var(--tekno-strip-bg);
  color : var(--background-color);
}
.cxm-wrapper .default-content-wrapper #cxm-accelerator{
  text-align:center;
}
.cxm-wrapper .default-content-wrapper #cxm-accelerator + p{
  text-align:center;
}
.cxm-wrapper .default-content-wrapper p .slide{
  display:flex;
  justify-content:center;
}
.cxm-card-col-wrapper ul li::marker{
  color:var(--bullet-red);
}
.cxm-card-col-wrapper ul{
  padding-left:20px;
}
