:root{
  --tekno-strip-bg: #16234d;
  --bullet-red : #cf2e2e;
}
main .section.tekno-strip {
  background-color: var(--tekno-strip-bg);
  color : var(--background-color);
}
.cxm-wrapper .default-content-wrapper #cxm-accelerator{
  text-align:center;
}
.cxm-wrapper .default-content-wrapper #cxm-accelerator + p{
  text-align:center;
}
.cxm-wrapper .default-content-wrapper p .slide{
  display:flex;
  justify-content:center;
}
.cxm-card-col-wrapper ul li::marker{
  color:var(--bullet-red);
}
.cxm-card-col-wrapper ul{
  padding-left:20px;
}
.cxm-card-col-wrapper .columns-wrapper .columns-2-cols div{
  margin-bottom:32px;
}
.cxm-card-col-wrapper .columns-wrapper .columns-2-cols div:last-child{
  margin-bottom:0;
}
/* .tekno-strip .columns-wrapper .columns-4-cols h3{
  display: table-cell;
    vertical-align: middle;
    padding: 20px 14px 20px 0;
    width: 70px;
    font-weight: 300;
    font-size: 48px;
}
.tekno-strip .columns-wrapper .columns-4-cols p{
display: table-cell;
    vertical-align: middle;
    padding: 20px 0;
    text-align: left;
    line-height: 18px;
    margin-bottom: 0;
    font-size: 16px;
} */
